img{
    width: 100%;
}
.dflex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
}
.title-line{
    border-top: 2px solid #868685;
    position: relative;
}
.title-name{
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 2px;
    padding: 0 4rem;
    background-color: #e8e8e7;
    font-weight: bolder;
    color: #404040;
    @media (max-width:996px) {
        padding: 0 2rem;
    }
}
.container{
    max-width: 80%;
    padding: 0;
    @media (max-width:996px) {
        max-width: 95%;
    }
}
.py-5{
    @media (max-width:996px) {
        padding: 1.5rem 0 !important;
    }
}
.pt-5{
    @media (max-width:996px) {
        padding-top: 1.5rem  !important;
    }
}
.pb-5{
    @media (max-width:996px) {
        padding-bottom: 1.5rem  !important;
    }
}