footer{
    .image-blockFlex{
        width: 85%;
        display: flex;
        justify-content:space-between;
        align-items: baseline;
        padding: 4rem 0 2rem 0;
        margin: 0 auto;
        flex-wrap: wrap;
        @media (max-width:1200px) {
            width: 100%;
            padding: 2rem 0 0 0;
        }
        @media (max-width:750px) {
            justify-content: space-around;
        }
        @media (max-width:576px) {
            flex-direction: column;
            align-items: center;
            padding-top: 1.5rem;
        }
        .image-step{
            width: calc(100% / 4 );
            display: flex;
            flex-direction: column;
            @media (max-width:1200px) {
                width: 40%;
            }
            @media (max-width:750px) {
                width: 40%;
            }
            @media (max-width:576px){
                width: 100%;
                min-width: 200px;
            }
            .image-shadow{
                width: 100%;
                margin: 0 auto;
                // @media (max-width:576px){
                //     width: 60%;
                //     margin: 0 auto;
                // }
                // @media (max-width:400px){
                //     width: 80%;
                // }
                }
            .image-content{
                padding-left: 4px;
                font-weight: 600;
                padding-top: 1rem;
                letter-spacing: 1px;
                padding-bottom: 1.5rem;
                @media (max-width:1200px) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                @media (max-width:576px) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    letter-spacing: 0px;
                    padding-left: 0px;
                }
            }
        }
        .image-icon{
            width: calc(100% / 4 / 2);
            max-width: 20px;
            @media (max-width:1200px) {
                width: 5%;
            }
            @media (max-width:576px) {
                display: none !important;
            }
            &.image-icon-mid-dnone{
                @media (max-width:750px) {
                    display: none;
                }
            }
            &.image-icon-middle{
                display: none;
                @media (max-width:1200px){
                    display: none;
                }
                @media (max-width:750px) {
                    display: block;
                }
            }
        }
    }
}
